.wrapper{
 grid-area: content;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 min-height: 100vh;
}
.actionJSON{
 border-radius: 1rem;
 background-color: #dadce0;
 padding: 0.45rem;
margin-top: auto;
}

