.App {
display: grid;
  grid-template-columns: 10fr 2fr;
  grid-template-areas: "content sideInformation";
}
.sideInformation{
  min-height: 100vh;
  grid-area:sideInformation;
  border-left: 2px slategray solid;
}